@model Lojas.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Inserir</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Loja" class="control-label"></label>
                <select class="form-control" id="loja" name="loja">
                </select>
                <span asp-validation-for="Loja" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: "/Estoque/Listar",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (json) {
                    $.each(json.loja, function (key, value) {
                        $('#loja').append(`<option value=${value.id}>${value.nome} </option>`);
                    });
                    $.each(json.produto, function (key, value) {
                        $('#produto').append(`<option value=${value.id}>${value.nome} </option>`);
                    });
                }
            });
        });
    </script>
}
