@model Lojas.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Inserir</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4" id="col1">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" id="cliente" required/>
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loja" class="control-label"></label>
                <select asp-for="LojaId" class ="form-control" asp-items="ViewBag.LojaId" id="loja" required>
                    <option>Selecione...</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Continuar" class="btn btn-primary" id="save"/>
            </div>
        </form>
    </div>
    
    <div class="col-md-3" id="col2" style="margin-left: 2rem; margin-right: 2rem">
        <div class="row">
            <h4>Estoque da Loja</h4>
        </div>

        <div class="row">
            <table id="tabela" class="tableitem table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Qtd</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="col-md-3" id="col3">
        <div>
            @* <partial name="~/Views/ProdutoPedido/Create.cshtml"> *@
            <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Produto</label>
                <select class ="form-control" id="produto" required></select>
            </div>
            <div class="form-group">
                <label class="control-label">Quantidade</label>
                <input class="form-control" type="number" id="qtd" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar ao Carrinho" class="btn btn-primary" id="produtoPedido"/>
            </div>
        </form>
        </div>
    </div> 

    <div class="col-md-3" id="col4" style="margin-left: 2rem; margin-right: 2rem">
        <h4>Carrinho</h4>
        <table id="carrinho" class="tableitem table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Qtd</th>
                </tr>
            </thead>
        </table>
        <div>
            <br><h5 id="valor"></h5>
        </div>
    </div>

    <div class="col-md-1" id="col5">
        <a href="@Url.Action("Create", "Entrega")" class="btn btn-primary">Finalizar Pedido</a>
    </div>
</div>

<div>
    <br><a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

    $(document).ready(function () {
        $('#col2').hide();
        $('#col3').hide();
        $('#col4').hide();
        $('#col5').hide();
        $('#entrega').hide();

        $('#loja').on('change', function() {
            $('#col2').show();
            $('#tabela').DataTable({
                paging: false,
                searching: false,
                destroy: true,
                'ajax': {
                    'type': "GET",
                    'url': "/Pedido/ListItens",
                    'dataType': "json",
                    'data': {'lojaId': $('#loja option:selected').val()},
                    'dataSrc': function (json) {
                        $('#produto').empty();
                        $('#produto').append(`<option>Selecione...</option>`);
                        var data = new Array();
                        for(var i = 0; i < json.length; i++){
                            data.push({
                                'produto'   : json[i].produto.nome,
                                'valor'     : json[i].produto.valor,
                                'quantidade': json[i].quantidade
                            })
                        }
                        for(var i = 0; i < json.length; i++){
                            $('#produto').append(
                                `<option value=${json[i].produto.id}>${json[i].produto.nome}</option>`
                            );
                        }
                        console.log('Estoque: ', json);
                        return data;
                    }
                },
                'columns': [
                        {'data': 'produto'},
                        {'data': 'valor'},
                        {'data': 'quantidade'}
                ],
            });
        });

        var pedido;
        $('#save').click(function() {
            event.preventDefault();
            $('#col1').hide();
            $('#col3').show();
            $('#col4').show();
            $('#col5').show();
            $.ajax ({
                'type': "POST",
                'url': "/Pedido/Save",
                'dataType': "json",
                'data': {
                    'lojaId': $('#loja option:selected').val(),
                    'cliente': $('#cliente').val(),
                },
                'success': function (json) {
                    console.log("Pedido: ", json);
                    pedido = json;
                }
            });
        });

        $('#produtoPedido').click(function() {
            event.preventDefault();
            $('#carrinho').DataTable({
                paging: false,
                searching: false,
                ordering:  false,
                destroy: true,
                'ajax': {
                    'type': "POST",
                    'url': "/ProdutoPedido/CartAdd",
                    'dataType': "json",
                    'data': {
                        'Quantidade': $('#qtd').val(),
                        'ProdutoId': $('#produto option:selected').val(),
                        'pedido': pedido
                    },
                    'dataSrc': function (json) {
                        console.log("Carrinho: ", json);
                        var data = new Array();
                        for(var i = 0; i < json.length; i++){
                            data.push({
                                'produto'   : json[i].produto.nome,
                                'valor'     : json[i].produto.valor,
                                'quantidade': json[i].quantidade
                            })
                        }
                        return data;
                    }
                },
                'columns': [
                    {'data': 'produto'},
                    {'data': 'valor'},
                    {'data': 'quantidade'}
                ]
            });

            $('#valor').show(function() {
                $.ajax ({
                    'type': "GET",
                    'url': "/Pedido/GetTotal",
                    'dataType': "json",
                    'data': {'PedidoId': pedido.id},
                    'success': function (json) {
                        pedido.valor = json[0];
                        $('#valor').html("Valor Total: " + json);
                    }
                });
            });
        });

        //$('#finish').click(function() {
        //    $.ajax ({
        //        'type': "POST",
        //        'url': "/Pedido/Finish",
        //        'dataType': "json",
        //        'data': {'pedido': pedido},
        //        'success': function (json) {
        //            console.log("Pedido: ", json);
        //            window.location.href = "/Entrega/Create";
        //        }
        //    });
        //});

        $('#finish').click(function(){
            $('#col1').hide();
            $('#col2').hide();
            $('#col3').hide();
            $('#col4').hide();
            $('#col5').hide();
            $('#entrega').show();
        })

    });
    </script>
}
