@model IEnumerable<Lojas.Models.Loja>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MENU</h1><br>
    <p>
        <a href="../Loja/Index">1- Gerenciar Lojas</a>
    </p>
    <p>
        <a href="../Produto/Index">2- Gerenciar Produtos</a>
    </p>
    <p>
        <a href="../Estoque/Index">3- Gerenciar Estoque</a>
    </p>
    <p>
        <a href="../Pedido/Index">4- Gerenciar Pedidos</a>
    </p>
    <p>
        <a href="../Entrega/Index">5- Gerenciar Entregas</a>
    </p>
    </div>

